/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.welcome-message {
    color: white;
}

.add_button {
    padding: 1em;
}

.box_styling {
    border: thin solid lawngreen;
    color: white;
    border-radius: 10px;
    background-color: #9EB9D4;
    margin: 1em;
}

.container.index_top {
    width: 100%;
}

.media.index_customer,
.media.index_accounts{
    margin:  1em;
    padding: 1em;
}

.edit-container {
    color: black;
    padding: 1em;
}

li.buttons {
    display: inline-block;
    padding: 3px;
    float:  left;
}
